[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Dependencies/implot"]
	path = Dependencies/implot
	url = https://github.com/epezent/implot.git
